body {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.image-gallery img {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 500px;
  max-width: 100%;
  display: block;
}

.section {
  margin-top: 20px;
}

.preview-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.preview-image-container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

.loader-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  border-radius: 10px;
}

.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  left: 10px;
  bottom: 10px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.image-source {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  display: none;
}

.image-source a {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #000;
}


.preview-image-container:hover .image-source {
  display: block;
}

.items-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.items-row .item {
  flex: 1 0 0;
  width: 100%;
  min-width: 300px;
}

